.main-content {
  margin-top: 40px;
}

.header-container {
  display: flex;
  justify-content: center;
}

.first-text-header {
  margin: 0px;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
}

.all-boxes-div {
  display: flex;
  justify-content: center;
}

.box {
  justify-content: center;
}

.info-box {
  display: flex;
  margin: 50px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #3882F6;
}

.text-div {
  display: flex;
  justify-content: center;
}

.text-under-box {
  width: 200px;
}