.main-content-top {
  margin-top: 100px;
  margin-bottom: 100px;
}

.header-container {
  display: flex;
  justify-content: center;
}

.first-text-header {
  margin: 0px;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
}

.all-boxes-div {
  display: flex;
  justify-content: center;
}

.box {
  justify-content: center;
}

.info-box {
  display: flex;
  margin: 50px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #3882F6;
}

.box-image {
  width: 100%;
}

.text-div {
  display: flex;
  justify-content: center;
}

.text-under-box {
  width: 200px;
}

.main-content-middle {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #E5E7EB;
}

.middle-section {
  display: flex;
}

.middle-section-left {
  flex: 1;
}

.middle-section-middle {
  flex: 2;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.quote-author-div {
  display: flex;
  justify-content: end;
}

.quote-author {
  padding-top: 15px;
  padding-right: 10px;
  font-size: 24px;
  font-style: italic;
  color: #1F2937;
}

.middle-section-right {
  flex: 1;
}

.main-bottom-content {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.blue-box {
  display: flex;
  background-color: #3882F6;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 120px;
  padding-right: 120px;
  border-radius: 8px;
}

.text-1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.text-2 {
  color: #E5E7EB;
  font-size: 18px;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
}

.sign-up-button-2 {
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  background-color: #3882F6;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.15s;
}

.sign-up-button-2:hover {
  opacity: 0.8;
}

.sign-up-button-2:active {
  opacity: 0.6;
}